.kaa1 {
  margin-left: 8%;
  margin-top: 13%;
}
.kaa1 h1 {
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}
span {
  color: red;
}
.kaa1 a {
  background: black;
  padding: 10px 18px;
  text-decoration: none;
  color: seashell;
  display: inline-block;
  margin: 30px 0;
  border-radius: 50px;
}
.kaa3 {
  width: 45%;
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 150px;
}
.kaa3 img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50);
  transition: bottom 1s, left 1s;
}
.kaa3:hover .vaa {
  bottom: 40px;
  box-shadow: 0 0 30px aqua;
}
.kaa3:hover .vaa2 {
  left: 45%;
}
.hoh{
  text-align: center;
}
.hoh h4{
  color: black;
  text-align: left;
}
.nav {
  background-color:white;
  margin: 15px -16px;
  padding: 19px 100px;
 
}
.nav img {
  width: 10%;
}
.navbar {
  margin: 40px;
  width:400px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  float: right; 
}
.navbar a{
  color:black;
  padding: 14px 20px;
  width: 100%;
  height: 100vh;
  text-decoration: none;
}
.hh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%;
  padding-bottom: 10px;
}
.icon {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 20px aqua;
}
.button {
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #0077b5;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-animation {
  animation-name: color-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: skyblue;
  }
}
.h{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -4%;
  margin-top: -4%;
}
.cla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px; /* set width to 100% of the container element */
  margin: 0 auto; /* set margin to auto to center horizontally */
}

.pa{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -4%;
  margin-top: 1%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  

